# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
.venv/
venv/
env/

# DB
*.db
*.sqlite3

# Env
.env

# IDE
.idea/
.vscode/
*.swp

# Node
node_modules/
frontend/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
